<div
  class="list-container d-flex justify-content-center align-items-center"
  *ngIf="!isLoading"
>
  <div class="list-detail d-flex flex-column">
   
    <div class="title-option-box">
      <div class="list-title pt-3 pb-5">
        <h1 class="text-center">My Todo List</h1>
      </div>
      <div class="list-option-card  d-flex row justify-content-center py-4 px-3 align-items-center">
        <div class="text-center  col-6 ">
          <input
            type="text"
            (input)="inputValue()"
            [(ngModel)]="searchString"
            placeholder="Search Task"
          />
        </div>

        <div class="text-center col-6">
          <select (change)="onChangeStatus($event)" class="select-status w-100">
            <option value="" [disabled]="true">Select Status</option>
            <option value="All">All</option>
            <option *ngFor="let item of status; let i = index" [value]="i">
              {{ item }}
            </option>
          </select>
        </div>
      </div>
    </div>
   
    <div class="todo-list mt-5 " *ngIf="taskData?.length !== 0">
      <table class="table w-100">
        <thead style="background-color: #0000000f">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of taskData">
            <th scope="row">{{ item.todoTitle }}</th>
            <td>{{ item.description }}</td>
            <td *ngIf="item.status === 0">To Do</td>
            <td *ngIf="item.status === 1">In Progress</td>
            <td *ngIf="item.status === 2">Done</td>
            <td class="d-flex text-center align-items-center justify-content-center">
             
              <i
                class="bi bi-pencil-square mr-2"
                (click)="editTask(item.todoId)"
              ></i>
              <i
                class="bi bi-trash3-fill"
                (click)="deleteTask(item.todoId)"
              ></i>
              <!-- <button (click)="editTask(item.todoId)" class="edit-button mr-2 border-0">Edit</button>
              <button (click)="deleteTask(item.todoId)" class="edit-button d-flex align-items-center border-0">Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="taskData?.length === 0" class="text-center">
      <h2>There is no task available</h2>
    </div>

    <div class="mx-4">
      <button (click)="createTask()" class="creat-button border-0">
        Create Task
      </button>
    </div>
  </div>
  </div>

